
<h4>Welcome to Guess My Close-up</h4>

<p class="instructions">The instructions are easy: just figure out what's in the picture.  It may be trickier than you think though.</p>

<br />

<p class="instructions">Also, add your own images and check out how good you are compared to others.</p>